@model RegistrationDto

@{
    Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
    ViewData["Title"] = "Registration Page";
}

<div class="container">
    <a href="/" class="mt-5 p-lg-5 back-link"><i class="fas fa-arrow-left"></i></a>
    <div class="wrapper">
        <div class="title"><span>Registration Form</span></div>


        <form asp-route="RegistrationEndpoint" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <i class="fas fa-image"></i>
                <label id="file-name"> Photo</label>
                <input name="file-name" type="file">
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
            <span class="text-danger" asp-validation-for="FirstName"></span>
            <div class="row">
                <i class="fas fa-user"></i>
                <input asp-for="FirstName" type="text" placeholder="FirstName" required>
            </div>
            <span class="text-danger" asp-validation-for="LastName"></span>
            <div class="row">
                <i class="fas fa-user"></i>
                <input asp-for="LastName" type="text" placeholder="LastName" required>
            </div>
            <span class="text-danger" asp-validation-for="Gender"></span>
            <div class="row">
                <i class="fas fa-solid fa-venus-mars"></i>
                <select asp-for="Gender">
                    <option value="">Select Gender</option>
                    @foreach (Gender gender in Enum.GetValues(typeof(Gender)))
                    {
                        <option value="@gender">@gender</option>
                    }
                </select>
            </div>
            <span class="text-danger" asp-validation-for="DateOfBirth"></span>
            <div class="row">
                <i class="fas fa-birthday-cake"></i>
                <input asp-for="DateOfBirth" type="date" placeholder="Birthday" required>
            </div>

            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
            <div class="row">
                <i class="fas  fa-phone"></i>
                <input asp-for="PhoneNumber" type="text" placeholder="Phone Number" required>
            </div>
            <span class="text-danger" asp-validation-for="Address"></span>
            <div class="row">
                <i class="fas fa-map-marker-alt"></i>
                <input asp-for="Address" type="text" placeholder="Address" required>
            </div>
            <span class="text-danger" asp-validation-for="Email"></span>
            <div class="row">
                <i class="fas fa-solid fa-envelope"></i>
                <input asp-for="Email" type="text" placeholder="Email" required>
            </div>
            <span class="text-danger" asp-validation-for="Password"></span>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input asp-for="Password" type="password" placeholder="Password" required>
            </div>

            <div class="row button">
                <input type="submit" value="Sign up">
            </div>
        </form>
    </div>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
        background: #1abc9c;
        overflow: hidden;
    }

    .back-link {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #16a085;
        text-decoration: none;
        font-size: 35px;
    }

    .back-link:hover {
        text-decoration: underline;
    }

    ::selection {
        background: rgba(26, 188, 156, 0.3);
    }

    .container {
        max-width: 540px;
        padding: 40px;
        margin: 90px auto;
    }

    .wrapper {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    }

    .wrapper .title {
        height: 90px;
        background: #16a085;
        border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper form {
        padding: 30px 25px 25px 25px;
    }

    .wrapper form .row {
        height: 45px;
        margin-bottom: 15px;
        position: relative;
    }

    .wrapper form .row input,
    .wrapper form .row select {
        height: 100%;
        width: 100%;
        outline: none;
        padding-left: 60px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        font-size: 16px;
        transition: all 0.3s ease;
    }

    form .row input:focus,
    form .row select:focus {
        border-color: #16a085;
        box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
    }

    form .row input::placeholder {
        color: #999;
    }

    .wrapper form .row i {
        position: absolute;
        width: 47px;
        height: 100%;
        color: #fff;
        font-size: 18px;
        background: #16a085;
        border: 1px solid #16a085;
        border-radius: 5px 0 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper form .pass {
        margin: -8px 0 20px 0;
    }

    .wrapper form .pass a {
        color: #16a085;
        font-size: 17px;
        text-decoration: none;
    }

    .wrapper form .pass a:hover {
        text-decoration: underline;
    }

    .wrapper form .button input {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding-left: 0px;
        background: #16a085;
        border: 1px solid #16a085;
        cursor: pointer;
    }

    form .button input:hover {
        background: #12876f;
    }

    .wrapper form .signup-link {
        text-align: center;
        margin-top: 20px;
        font-size: 17px;
    }

    .wrapper form .signup-link a {
        color: #16a085;
        text-decoration: none;
    }

    form .signup-link a:hover {
        text-decoration: underline;
    }

    .image-upload-container {
        display: flex;
        align-items: center;
        padding: 10px;
        border: 2px dashed #16a085;
        border-radius: 5px;
        margin: 0;
    }

    .image-upload-container i {
        color: #16a085;
        font-size: 24px;
        margin-right: 10px;
    }

    .image-upload-label {
        flex: 1;
        color: #16a085;
        text-align: center;
        cursor: pointer;
        padding: 10px 2px;
        margin-left: 3rem;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .image-upload-label:hover {
        background-color: #16a085;
        color: white;
    }

    .custom-file-input {
        display: none;
    }

    .text-danger {
        font-size: 14px;
    }
</style>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function updateFileName(input) {
            var fileName = input.files[0].name;
            var fileNameDisplay = document.getElementById('file-name');
            fileNameDisplay.textContent = fileName;
        }
    </script>
}
