@model RoomViewModel
@{
    ViewData["Title"] = "Create Room Page";
}

<form asp-route="CreateRoomApi" method="post">

    <div>
        <label asp-for="Room.RoomNumber">RoomNumber:</label>
        <input asp-for="Room.RoomNumber" type="text" />
        <span class="text-danger" asp-validation-for="Room.RoomNumber"></span>
    </div>
    <div>
        <label asp-for="Room.DepartmentId">Department:</label>
        <select asp-for="Room.DepartmentId">
            <option value="">Select Department</option>

            @foreach (Department department in Model.Departments)
            {
                <option value="@department.Id">@department.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Room.DepartmentId"></span>
    </div>


    <button type="submit">Add Room</button>
</form>

<style>
    h1 {
        color: #333;
    }

    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    form div {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    select,
    textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        background-color: #5cb85c;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #4cae4c;
    }
</style>

@* @section Scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
} *@