@model Room;
@{
    ViewData["Title"] = "Room Info Page";
}


<div class="infoContainer">
    <div class="room-details">
        <p>Room Number: @Model.RoomNumber</p>
        <p>Department: @Model.Department.Name</p>
    </div>
</div>

<style>
    .infoContainer {
        width: 80%;
        margin: auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-top: 50px;
        display: flex;
    }

    .room-details {
        flex-grow: 1;
        padding-right: 20px;
    }

    .room-details h2 {
        margin-top: 0;
        color: #343a40;
    }

    .room-details p {
        margin: 5px 0;
        color: #6c757d;
    }
</style>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}