@model Room;
@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewData["Title"] = "Room Info Page";
}

<div class="info-container">
    <div class="room-details">
        <h2>Room Details</h2>
         <div class="detail-item">
            <span class="detail-label">Room Number:</span>
            <span class="detail-value">@Model.RoomNumber</span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Department:</span>
            <span class="detail-value">@Model.Department.Name</span>
        </div>
    </div>
</div>

<style>
    .info-container {
        width: 80%;
        margin: auto;
        background-color: #f8f9fa;
        padding: 20px;
        border: 1px solid #dee2e6;
        border-radius: 10px;
        margin-top: 50px;
    }

    .room-details {
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .room-details h2 {
        color: #343a40;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 10px;
    }

    .detail-item {
        margin-bottom: 15px;
    }

    .detail-label {
        font-weight: bold;
        color: #6c757d;
        display: inline-block;
        width: 120px;
    }

    .detail-value {
        color: #495057;
    }
</style>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
