@using System.Text.Json
@{
    ViewData["Title"] = "Doctor Page";

    var doctorsJson = await System.IO.File.ReadAllTextAsync("Assets/doctors.json");

    var doctors = JsonSerializer.Deserialize<IEnumerable<Doctor>>(doctorsJson, new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true,
            });
}

<h1> Doctors List</h1>
<hr/>

<ol>
    @foreach (var doctor in doctors)
    {
        <li>
            <p>FirstName: @(doctor?.FirstName ?? "UNKNOWN")</p>
            <p>LastName: @(doctor?.LastName ?? "UNKNOWN")</p>
            <p>DateOfBirth: @doctor?.DateOfBirth </p>
            <p>Email: @(doctor?.Email ?? "UNKNOWN")</p>
        </li>
        <hr/>
    }
</ol>


<style> 
    .card-list {
        list-style-type: none;
        padding: 0;
    }

    .card-list li {
        background-color: #cfe2f3; 
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 20px;
        transition: transform 0.3s ease-in-out;
    }

    .card-list li:hover {
        transform: translateY(-5px);
    }

    .card-list li p {
        margin: 0;
        font-size: 16px;
        line-height: 1.6;
        color: #333; 
    }

    .card-list li p strong {
        font-weight: bold;
        color: #666; 
    }

    .card-list li hr {
        margin: 10px 0;
        border: none;
        border-top: 1px solid #e0e0e0;
    }
</style>